<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Questa</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <section class="hero">
      <form
        class="form"
        action="/discussion/<%= discussion.id %>?_method=DELETE"
        method="post"
      >
        <h1 class="heading">Delete</h1>
        <p class="error-message"><%= errorMessage %></p>
        <p class="sub-heading">Title : <%= discussion.title %></p>
        <div class="label-input-container">
          <label for="password">Password</label><br />
          <input
            required
            type="password"
            class="password"
            id="password"
            name="password"
          />
        </div>
        <div class="form-controls">
          <a href="/" class="btn btn-danger">Cancle</a>
          <form
            action="/discussion/<%= discussion._id %>?_method=DELETE"
            method="post"
          >
            <button type="submit" class="btn btn-positive">Confirm</button>
          </form>
          <!-- <button type="submit" class="btn btn-positive">Confirm</button> -->
        </div>
      </form>
    </section>
  </body>
</html>
